#pass  { 
  position: absolute;
  margin-top: 90px;
  margin-left: 30px;
  border-bottom: 2px solid rgb(75, 103, 163);
  border-radius: 5px;
  border-style: solid;
  background-color:lightskyblue;
  position: absolute;
}